.bounceInUp {
    animation: bounceInUp 1.0s ease-in-out 0s 1 both;
}
/* bounceInUp */
@keyframes bounceInUp {
    0,
    60%,
    75%,
    90%,
    100% {
        animation-timing-function: cubic-bezier(0.215,.61,0.355,1)
    }
    0% {
        opacity: 0;
        transform: translate3d(0, 3000px, 0) scaleY(5)
    }
    60% {
        opacity: 1;
        transform: translate3d(0, -20px, 0) scaleY(0.9)
    }
    75% {
        transform: translate3d(0, 10px, 0) scaleY(0.95)
    }
    90% {
        transform: translate3d(0, -5px, 0) scaleY(0.985)
    }
    100% {
        transform: translateZ(0)
    }
}

@keyframes fadeOut {
    from {
      opacity: 1; /* 初期状態（完全に表示） */
    }
    to {
      opacity: 0; /* フェードアウト状態（完全に非表示） */
      display: none;
    }
  }