:root {
    --pad: max(16px, 4vmin);
}

*{
    font-family: 'RobotoMono';
    font-weight: 300;
}

h1,h2{
    margin: 0;
}

html, body{
    height: 100%;
    overflow-y: hidden;
    margin: 0;
    font-size: 62.5%;
}

html,body,a,div{
    cursor: none;
}

ul{
    padding-inline-start: 20px;
}

li{
    list-style-type:none;
}

.font-size-s {
    font-size: clamp(0.8rem, calc(0.6rem + 0.625vw), 1.3rem);
}

.font-size-m {
    font-size: clamp(1.3rem, calc(0.9rem + 0.625vw), 1.6rem);
}

.font-size-l {
    font-size: clamp(2.8rem, calc(2.4rem + 0.625vw), 3.2rem);
}

.font-size-xl {
    font-size: clamp(3.8rem, calc(3.6rem + 0.625vw), 6.4rem);
}

.header {
    display: flex;
    justify-content: space-between;
}

.content {
    margin: calc(var(--pad));
    width: auto;
    height: 100%;
    

}

.title-id {
    /* font-size: medium; */
}

.title-name {
    /* line-height: 0.75em; */
    /* font-size: 64px; */
    
}

.title-site {
    margin-top: 0;
    /* font-size: 16px; */
}

.job-name {
    margin: 0;
    /* position: absolute; */
    right: calc(var(--pad)*2);
    top: calc(var(--pad)*2);          
    /* font-size: 32px; */
    font-weight: lighter;
}

@media screen and (max-width:768px) {
    .job-name {
        display: none;
    }
}

.a-section {
    margin-top: 32px;
}

@media screen and (max-width:768px) {
    .a-section {
        display: flex;
        gap: 8px;
    }
}

.a-item {
    width: max-content;
    color: black;
    display: flex;
    /* font-size: 32px; */
    font-weight: 300;
    text-decoration: underline 1px solid ;
    transition-property: background-color;
    transition: 0.3s;
}

.a-item:hover{
    color: #f00;
}

.box {
    border: 1px;
    border-style: solid;
    border-color: rgba(0,0,0, 0.4);
    position: fixed;
    z-index: 20;
    left: var(--pad);
    right: var(--pad);
    top: var(--pad);
    bottom: var(--pad);
    background-color: rgba(256, 255,255, 0.1);
    

    /* pointer-events: none; */
    
}

#splash {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background:#222;
  text-align:center;
  color:#fff;
  opacity: 1;

  animation-name: fadeOut;
  animation-duration: 0.5s; 
  animation-timing-function: ease-out; 
  animation-delay: 1s;
  animation-fill-mode: forwards;

}

.splash-text {
    width: auto;
    height: 50%;
    justify-items: center;
    display: flex;
    align-items: end;
    gap: 16px;
    margin-left: 32px;
}

#cursor{
    pointer-events: none;
    position: fixed;
    top: -8px;
    left: -8px;
    width: 8px;
    height: 8px;
    background: rgba(256, 0, 0, 1.0);
    transform: translate(-100px,-100px);
    transition-property: background-color,border-color,width,height;
    transition-duration: .8s;
    border-radius: 100%;
    z-index: 900;
}

#cursor.hov_{
    width:16px;
    height: 16px;
    background: rgba(256,0,0,0.0);
    border: 1px solid;
    border-color: black;
    transform: scale(1)
}

.lang-toggle {
    position: absolute;
    left: var(--pad);
    bottom: var(--pad);
    width: 80px;
    height: 32px;
    cursor: none;

}

.toggle-input {
    position: inherit;
    left: 0;
    bottom: 0;
    z-index: 5;
    opacity: 0;
    cursor: none;

}

.toggle-label{
    font-size: 15px;
    width: 80px;
    height: 32px;
    background: #fff;
    position: relative;
    display: inline-block;
    border: 1px solid;
    border-radius: 46px;
    transition: 0.4s;
    box-sizing: border-box;
    cursor: none;

}
.toggle-label:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    left: 6px;
    top: 5px;
    z-index: 2;
    background: #f00;
    transition: 0.4s;    
  }

.toggle-input:checked + .toggle-label:after {
  left: 52px;
}

.toggle-ja,.toggle-en {
    font-weight: 500;
}

.toggle-ja{
    color: #fff;
    position: absolute;
    z-index: 3;
    left: 7px;
    top: 2px;
}

.toggle-en{
    color: #fff;
    position: absolute;
    z-index: 4;
    left: 53px;
    top: 2px;
}

.account {
    margin-bottom: 16px;
    display: flex;
    align-items: baseline;
    gap: 16px;    
}


.work-item {
    display: flex;
    gap: 32px;
    margin-bottom: 48px;
    justify-content: space-between;

}

.work-item .char {
    width: 30%;
}

.work-item .img{
    width: 70%;    
    height: auto;
}

.work-item .img:hover{
     
}

.work-item .service-name{
    /* font-size: 16px; */
    margin-bottom: 4px;
    color: #000;
}

.work-item .category {
    margin-bottom: 32px;
}

.work-item .description {
    color: gray;
}