:root {
    --pad: max(16px, 4vmin);
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1,h2,h3,h4,h5{
    margin: 0;
}

html, body{
    height: 100%;
    overflow-y: hidden;
}

html,body,a,div{
    cursor: none;
}

ul{
    padding-inline-start: 20px;
}

li{
    list-style-type:none;
}

.header {
    display: flex;
    justify-content: space-between;
}

.content {
    margin: calc(var(--pad));
    width: auto;
    height: 100%;
    

}

.title {
}

.title-name {
    margin: 0;
    font-size: 64px;
    font-weight: lighter;
    
}

.title-site {
    margin-top: 0;
    font-size: 16px;
}

.job-name {
    margin: 0;
    /* position: absolute; */
    right: calc(var(--pad)*2);
    top: calc(var(--pad)*2);          
    font-size: 32px;
    font-weight: lighter;
}

.a-section {
}

.a-item {
    width: max-content;
    color: black;
    display: flex;
    font-size: 36px;
    font-weight: 100;
    text-decoration: underline 1px solid ;
    transition-property: background-color;
    transition: 0.3s;
}

.a-item:hover{
    color: #f00;
}

.box {
    border: 1px;
    border-style: solid;
    border-color: rgba(0,0,0, 0.4);
    position: fixed;
    z-index: 20;
    left: var(--pad);
    right: var(--pad);
    top: var(--pad);
    bottom: var(--pad);
    background-color: rgba(256, 255,255, 0.1);
    

    /* pointer-events: none; */
    
}

#cursor{
    pointer-events: none;
    position: fixed;
    top: -8px;
    left: -8px;
    width: 8px;
    height: 8px;
    background: rgba(256, 0, 0, 1.0);
    transform: translate(-100px,-100px);
    transition-property: background-color,border-color,width,height;
    transition-duration: .5s;
    border-radius: 100%;
    z-index: 999;
}

#cursor.hov_{
    width:16px;
    height: 16px;
    background: rgba(256,0,0,0.0);
    border: 1px solid;
    border-color: black;
    transform: scale(1)
}

.lang-toggle {
    position: absolute;
    left: var(--pad);
    bottom: var(--pad);
    width: 80px;
    height: 32px;
    cursor: none;

}

.toggle-input {
    position: inherit;
    left: 0;
    bottom: 0;
    z-index: 5;
    opacity: 0;
    cursor: none;

}

.toggle-label{
    width: 80px;
    height: 32px;
    background: #fff;
    position: relative;
    display: inline-block;
    border: 1px solid;
    border-radius: 46px;
    transition: 0.4s;
    box-sizing: border-box;
    cursor: none;

}
.toggle-label:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    left: 6px;
    top: 5px;
    z-index: 2;
    background: #f00;
    transition: 0.4s;    
  }

.toggle-input:checked + .toggle-label:after {
  left: 52px;
}
.toggle-ja{
    color: #fff;
    position: absolute;
    z-index: 3;
    left: 11px;
    top: 2px;
}

.toggle-en{
    color: #fff;
    position: absolute;
    z-index: 4;
    left: 53px;
    top: 2px;
}

.account {
    margin-bottom: 16px;
    display: flex;
    align-items: baseline;
    gap: 16px;    
}


.work-item {
    display: flex;
    margin-bottom: 48px;
    justify-content: space-between;

}

.work-item .char {
    width: 30%;
}

.work-item .img{
    width: 70%;    
    filter: blur(1px);
    transition: filter 0.2s;
}

.work-item .img:hover{
     
    filter: blur(0px);
}

.work-item .service-name{
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 4px;
    color: #000;
}

.work-item .category {
    margin-bottom: 32px;
}

.work-item .description {
    color: gray;
}