:root {
    --pad: max(16px, 3vmin);
}

* {
    font-family: 'RobotoMono';
    font-weight: 300;
}

h1, h2 {
    margin: 0;
}

html, body {
    height: 100%;
    overflow-y: hidden;
    margin: 0;
    font-size: 62.5%;
}

.background-effect {
    position: absolute;
    bottom: clamp(2vw, 2vw, 10vw);     
    width: clamp(30vw, calc(3.6rem + 0.625vw), 50vw);
    height: clamp(30vw, calc(3.6rem + 0.625vw), 50vw);
    background-color: rgb(255,123,79);
    background: linear-gradient(75deg, rgba(255,123,79,1) 0%, rgba(255,0,0,1) 28%, rgba(255,128,0,1) 100%);
    transform-origin: 50%;
    border-radius: 100%;
    filter: blur(1px);
    animation: rotate 60s linear infinite;
}

.background-blur {
    position: inherit;
    transform-origin: 100% 100%;
    width: 50%;
    height: 50%;
    top: 0;
    left: 0;
    border-top: 8px solid;
    border-left: 8px solid;
    border-color: rgb(255, 0, 0);
    border-top-left-radius: 100%;    
    filter: blur(8px) opacity(100%);
}

html, body, a, div {
    cursor: none;
}

ul {
    padding-inline-start: 20px;
}

li {
    list-style-type: none;
}

.font-size-s {
    font-size: clamp(0.8rem, calc(0.6rem + 0.625vw), 1.3rem);
}

.font-size-m {
    font-size: clamp(1.3rem, calc(0.9rem + 0.625vw), 1.6rem);
}

.font-size-l {
    font-size: clamp(2.8rem, calc(2.4rem + 0.625vw), 3.2rem);
}

.font-size-xl {
    font-size: clamp(3.8rem, calc(3.6rem + 0.625vw), 6.4rem);
}

.header {
    display: flex;
    justify-content: space-between;
}

.content {
    margin: calc(var(--pad));
    width: auto;
    height: 100%;
}

.title-site {
    margin-top: 0;
}

.job-name {
    margin: 0;
    right: calc(var(--pad) * 2);
    top: calc(var(--pad) * 2);          
    font-weight: lighter;
}

.a-section {
    margin-top: 32px;
}

.a-item {
    width: max-content;
    color: black;
    display: flex;
    font-weight: 300;
    text-decoration: underline 1px solid;
    transition: background-color 0.3s;
}

.a-item:hover {
    color: #f00;
}

.box {
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    position: fixed;
    z-index: 20;
    left: var(--pad);
    right: var(--pad);
    top: var(--pad);
    bottom: var(--pad);
    background-color: rgba(256, 255, 255, 0.25);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

#splash {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: #222;
    text-align: center;
    color: #fff;
    opacity: 1;
    animation: fadeOut 0.5s ease-out 1s forwards;
}

.splash-text {
    width: auto;
    height: 50%;
    justify-items: center;
    display: flex;
    align-items: end;
    gap: 16px;
    margin-left: 32px;
}

#cursor {
    pointer-events: none;
    position: fixed;
    top: -8px;
    left: -8px;
    width: 8px;
    height: 8px;
    background: rgba(256, 0, 0, 1.0);
    transform: translate(-100px, -100px);
    transition: background-color 0.8s, border-color 0.8s, width 0.8s, height 0.8s;
    border-radius: 100%;
    z-index: 900;
}

#cursor.hov_ {
    width: 16px;
    height: 16px;
    background: rgba(256, 0, 0, 0.0);
    border: 1px solid black;
    transform: scale(1);
}

.lang-toggle {
    position: absolute;
    left: var(--pad);
    bottom: var(--pad);
    width: 80px;
    height: 32px;
    cursor: none;
}

.toggle-input {
    position: inherit;
    left: 0;
    bottom: 0;
    z-index: 5;
    opacity: 0;
    cursor: none;
}

.toggle-label {
    font-size: 15px;
    width: 80px;
    height: 32px;
    background: #fff;
    position: relative;
    display: inline-block;
    border: 1px solid;
    border-radius: 46px;
    transition: 0.4s;
    box-sizing: border-box;
    cursor: none;
}

.toggle-label:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    left: 6px;
    top: 5px;
    z-index: 2;
    background: #f00;
    transition: 0.4s;    
}

.toggle-input:checked + .toggle-label:after {
    left: 52px;
}

.toggle-ja, .toggle-en {
    font-weight: 500;
    color: #fff;
    position: absolute;
    z-index: 3;
    top: 2px;
}

.toggle-ja {
    left: 7px;
}

.toggle-en {
    left: 53px;
    z-index: 4;
}

.account {
    margin-bottom: 16px;
    display: flex;
    align-items: baseline;
    gap: 16px;    
}

.work-item {
    display: flex;
    gap: 32px;
    margin-bottom: 48px;
    justify-content: space-between;
}

.work-item .char {
    width: 30%;
}

.work-item .img {
    width: 70%;    
    height: min-content;    
    border: 1px solid #f8f8f8;
    filter: invert(1%) grayscale(100%);
    transition: all 0.5s;
}

.work-item .img:hover {
    filter: none;
    transform: scale(1.1);
}

.work-item .service-name {
    color: #000;
}

.work-item .description {
    color: gray;
}

.icon {
    border: 1px solid #f8f8f8;
    border-radius: 100%;
    width: clamp(3rem, calc(4rem + 2vw), 8.2rem);
    height: clamp(3rem, calc(4rem + 2vw), 8.2rem);
}

@media screen and (max-width: 768px) {
    .background-effect {
        bottom: auto;
        top: 60px;
        right: 10px;
    }

    .job-name {
        display: none;
    }

    .a-section {
        display: flex;
        gap: 8px;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) scale(1.0);
    }
    25% {
        transform: rotate(90deg) scale(1.2);
    }
    50% {
        transform: rotate(180deg) scale(1.1);
    }
    75% {
        transform: rotate(270deg) scale(0.95);
    }
    100% {
        transform: rotate(360deg) scale(1.0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        display: none;
    }
}
