---
import Layout from '../layouts/Layout.astro';
---
<Layout>
  <h3>Mutsuki(yukkevv)</h3>
  <p>I'm developer in Fukuoka city.</p>
  <p>I work with a wide range of technologies, including back-end, front-end, and cloud.</p>

  <h4>Skills</h4>
  <ul>
    <li><h5>Back-end</h5></li>
      <ul>
        <li>C# & .NET</li>
        <li>VB.NET</li>
      </ul>
    <li><h5>Front-end</h5></li>
      <ul>
        <li>JavaScript</li>
        <li>TypeScript</li>
        <li>React</li>
        <li>Electron</li>
      </ul>
    <li><h5>Cloud</h5></li>
      <ul>
        <li>AWS</li>
        <ul>
          <li>AWS Solution Architect Associate</li>
          <li>AWS Developer Associate</li>
          <li>AWS CloudPractitioner</li>
        </ul>
      </ul>
    </ul>


 

</Layout>