---
// import { getCollection } from 'astro:content';
import { db, Comment, Article, Work, eq } from 'astro:db';
import Layout from '../layouts/Layout.astro';
import { ArticleTag } from 'astro:db';
// const allPosts = await getCollection('blog');

const articleData = await db.select().from(Article);
const works = await db.select().from(Work);
const comments = await db.select().from(Comment);

---
<Layout>
  <ul class="font-size-m">
    {articleData.map((data) => 
      <li class="blog-item">
        <time class="font-size-s" datetime={data.published.toDateString()}>				  
          {new Intl.DateTimeFormat('ja-JP').format(data.published)}
        </time>
        <a class="a-item" href={"/"+data.id}>{data.title}</a>
      </li>)
    }
  </ul>
</Layout>