---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
const allPosts = await getCollection('blog');

---
<Layout>
  <ul class="font-size-m">
    {allPosts.map((post) => 
      <li class="blog-item">
        <time class="font-size-s" datetime={post.data.pubDate.toDateString()}>				  
          {new Intl.DateTimeFormat('ja-JP').format(post.data.pubDate)}
        </time>
        <a class="a-item" href={"Blog/"+post.slug}>{post.data.title}</a>
      </li>)
    }
  </ul>
</Layout>