---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="ja">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main>
			<h1 class="title-name">Mutsuki Sota</h1>
			<h2 class="title-job">Developer & Engineer</h2>
			<pre>portfolio site</pre>

			<div>
				<a class="a-item" href="/work">Work</a>
				<a class="a-item" href="/about">About</a>
				<a class="a-item" href="/contact">Contact</a>
			</div>

			<div class="lang-toggle">
				<input id="toggle" class="toggle-input" type='checkbox' />
				<label for="toggle" class="toggle-label"/>
			</div>			
			
			
		</main>
	</body>
</html>
