---
import Layout from '../layouts/Layout.astro';
---
<Layout>
  <div>
    <h3>
      Twitter
    </h3>
    <a href="https://twitter.com/yukkevv">@yukkevv</a>
  </div>
  <div>
    <h3>
      Blog
    </h3>
    <a href="https://yukkevv.hateblo.jp/">https://yukkevv.hateblo.jp/</a>
  </div>
  <div>
    <h3>
      GitHub
    </h3>
    <a href="https://github.com/Yukkegt">https://github.com/Yukkegt</a>
  </div>

</Layout>