---

---
<div id="cursor">
    <div id="cursor-shape"></div>
</div>
<script>
    
    const createCursor = () => {        
        const cursor = document.getElementById('cursor');  // カーソル要素を取得
        // マウスに追従させる処理
        document.addEventListener('mousemove', function (e) {
            cursor.style.transform = 'translate(' + e.clientX + 'px, ' + e.clientY + 'px)';
        });
                
        let isHover = false;
        
        // a, input, labelホバー時に表示を変更
        const linkElem = document.querySelectorAll('a,input,label');
        for (let i = 0; i < linkElem.length; i++) {
            // hover:mouse over
            linkElem[i].addEventListener('mouseover', function (e) {
                isHover = true;
        		cursor.classList.add('hov_');
                
            });
            // hover:mouse out
            linkElem[i].addEventListener('mouseout', function (e) {
                isHover = false;
        		cursor.classList.remove('hov_');
                
            });
        }
    }
    isSmartPhone() ? null : createCursor();
    // createCursor();
    document.addEventListener('astro:after-swap', createCursor);
    
</script>