<div id="splash">
    <div class="splash-text">
        <h1 class="title-name font-size-xl">Mutsuki<span class="title-id font-size-m"> : yukkevv</span></h1>
        <p class="title-site font-size-s">portfolio site</p>
    </div>
</div>