---
interface Props {
	service_name:string
    id?: string;    
	url: string;
}

const { service_name, id, url } = Astro.props;
---

<div class="account">
    <h3 class="font-size-m">
      {service_name}
    </h3>
    <a class="font-size-m" href={url}>{id ?? url}</a>
</div>